# Easier Pipelines

### Introduction

### Making Pipelines Easier

### Using Sklearn Pandas

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/pipelines-and-transformers/master/nyc_hs_sat.csv"
hs_df = pd.read_csv(url, index_col = 0)

In [3]:
hs_df[:3]

,dbn,name,num_test_takers,reading_avg,math_avg,writing_score,boro,total_students,graduation_rate,attendance_rate,college_career_rate
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29.0,355.0,404.0,363.0,M,171,0.66,0.87,0.36
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91.0,383.0,423.0,366.0,M,465,0.90,0.93,0.70
2,01M450,EAST SIDE COMMUNITY SCHOOL,70.0,377.0,402.0,370.0,M,683,0.92,0.94,0.77

* graduation_rate

### Aliases

### Applying multiple changes

So we can see that changed our `graduation_rate` data to be in z-scores.

### Adding new columns

### Keeping Columns

### Summary

In this lesson, we learned about using the `DataFrameMapper` from the `sklearn_pandas` library.  The DataFramMapper is similar to pipelines, but provides for an easier interface, as our changes became more complex.

For example, it allowed us to output a dataframe instead of a numpy array, specify features to coerce, and return new columns in our dataframe like adding an is missing column.

### Resources

[sklearn_pandas](https://github.com/scikit-learn-contrib/sklearn-pandas)