# Introduction to Transformers

### Introduction

So far we have seen various techniques for engineering our data.  We've seen how to handle missing values by replacing the nan with the mean value, and adding a boolean column to indicate missingness for each observation.  We've seen techniques for converting categorical variables into dummy variables.

It may not be surprising that SKlearn has some tools to allow us to better automate these techniques.  In the lesson, we'll see how we can do so with sklearn's transformers.

### Loading our Data

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/pipelines-and-transformers/master/nyc_hs_sat.csv"
df = pd.read_csv(url, index_col = 0)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356 entries, 0 to 355
Data columns (total 11 columns):
dbn                    356 non-null object
name                   356 non-null object
num_test_takers        327 non-null float64
reading_avg            327 non-null float64
math_avg               327 non-null float64
writing_score          327 non-null float64
boro                   356 non-null object
total_students         356 non-null int64
graduation_rate        351 non-null float64
attendance_rate        356 non-null float64
college_career_rate    351 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 33.4+ KB

### Missing Data

In [66]:
graduation_rate = df[['graduation_rate']]

In [67]:
graduation_rate.isna().sum()

graduation_rate    5
dtype: int64

* SimpleImputer
* Introspecting
* Applying to new data

### Summary

### Resources

[Pipelines Kaggle Tutorial](https://www.kaggle.com/baghern/a-deep-dive-into-sklearn-pipelines)